.nav {
  li.active{
      border-bottom: 3px solid #fffde3;
      a {
        background-color: transparent !important;
      }
  }

  .menu-item{
    &:hover{
      a {
        color: white !important;
        font-weight: bold;

      }
    }
    a{
      //transform: scale(1.04);
      &:hover {
          font-weight: bold;
          transform: scale(1.04);
          color: white !important;
          //text-decoration: underline;
      }
    }

  }
}

.img:hover{
  opacity: 0.8;
  transition: opacity 0.5s;
}

:focus {
  color: #ccc;
  outline: #ccc solid 1px;
}