.nav {
  li.active{
      border-bottom: 2px solid #fffde3;
      a {
        background-color: transparent !important;
      }
  }

  .menu-item{
    &:hover{
      //transform: scale(1.04);
      a {
        font-size: 1em;

        &:hover {
          font-weight: bold;
          transform: scale(1.04);
        }
      }
    }

  }
}

.img:hover{
  opacity: 0.8;
  transition: opacity 0.5s;
}

:focus {
  color: #333;
  outline: #ccc solid 1px;
}