.footer{

  .site-footer{
    background: #1c3942;
    bottom: 0;
    width: 100%;
  }

  .bottom-footer{
    background-color: #123742;
    width: 100%;
  }

  a{
    color: #fff;
    font-weight: bold;
  }
}


