.dropdown-menu {
  background-color: #1C3942;
  a {
    color: #fff;
  }
}

.menu-item {
    ul {
      li {
        a {
          color: #fff;
        }
      }

    }
  }
//
//.dropdown-menu > .active > a {
//  color: #fff;
//  .menu-item {
//    background-color: #123742;
//    ul {
//      li {
//        a {
//          color: #fff;
//        }
//      }
//
//    }
//  }
//}
//  .dropdown-menu > .active > li {
//    background-color: #123742;
//  }
//
//  .menu-item {
//    background-color: #1C3942;
//    ul {
//      li {
//        a {
//          color: #fff;
//        }
//      }
//    }
//  }