.white, .white-text{
  color: white;
}

.gray-border {
  border-color: #efefef;
  &:hover {
    color: #efefef;
  }
}
.bg-white{
  background-color: white;
}
.miangeza {

  &:hover{
    transform: scale(1.04);
  }
}
