/* All images are responsive by default */
//img {
//  height: auto;
//  max-width: 100%;
//}

/* Make sure videos, embeds, and captions fit their containers. */
.wp-caption,
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* Make sure form elements fit their containers */
input,
textarea,
select {
  max-width: 100%;
}
/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* ## Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  color: #333;
  background: #fff;
  z-index: 100000; /* Above WP toolbar. */
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
  position: relative;
}

.breadcrumb {
  margin-bottom: 20px;
}

.archive-description,
.author-box {
  background-color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px;
  padding: 40px;
}

.author-box-title {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}
